body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
      0deg, #1f1f1f 0%, #414141 100%
      );
    color: #ffffff;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  }
  
  h1,
  h2,
  h3,
  h4,
  ul,
  p {
    margin: 0px;
  }
  
  ul {
    padding: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }