.container {
    background-color: #333;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.password-display {
    background-color: #555;
    color: #fff;
    padding: 1rem;
    width: 340px;
    height: 2rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    margin: 1rem;
}

.character-amount-container {
    display: flex;
    align-items: center;
}

.character-amount-container .range-slider {
    margin: auto;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    overflow: hidden;
    height: 0.4rem;
    width: 160px;
    cursor: pointer;
    border-radius: 2px;
    background: #1f1f1f;
    box-shadow: 3px 3px 6px #000,
    inset 1px 1px 1px #909090;
}

.character-amount-container .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.8em;
    height: 1.8em;
}

.character-amount-container .slider-thumb {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: #090909;
    border-radius: 50%;
    box-shadow: inset 0px 1px 2px #909090;
}

.character-amount-container .slider-thumb::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0.6em;
    height: 0.6em;
    background: #333;
    border-radius: inherit;
    transition: 0.3s;
}

.character-amount-container:hover .slider-thumb::before {
    background: #3cd184;
}